set -g default-terminal "screen-256color"
set -g default-command {{ if (eq .chezmoi.hostname "px-1021") }}/home/vberthier/.local/bin/zsh{{ else if (eq .chezmoi.hostname "visu01") }}/home/ad/berthiv/.local/bin/zsh{{ else }}/usr/bin/zsh{{ end }}

set -g mouse on
set -g prefix C-a

# VI mode
set-window-option -g mode-keys vi
unbind -T copy-mode-vi Space;
unbind -T copy-mode-vi Enter;
unbind -T copy-mode-vi h;
unbind -T copy-mode-vi j;
unbind -T copy-mode-vi k;
unbind -T copy-mode-vi l;
unbind -T copy-mode-vi H;
unbind -T copy-mode-vi J;
unbind -T copy-mode-vi K;
unbind -T copy-mode-vi L;

bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "xsel --clipboard"
bind-key    -T copy-mode-vi t                    send-keys -X cursor-left
bind-key    -T copy-mode-vi s                    send-keys -X cursor-down
bind-key    -T copy-mode-vi r                    send-keys -X cursor-up
bind-key    -T copy-mode-vi n                    send-keys -X cursor-right
bind-key    -T copy-mode-vi l                    send-keys -X search-again
bind-key    -T copy-mode-vi L                    send-keys -X search-reverse
bind-key    -T copy-mode-vi v                    send-keys -X begin-selection
bind-key    -T copy-mode-vi T                    send-keys -X top-line
bind-key    -T copy-mode-vi S                    send-keys -X scroll-down
bind-key    -T copy-mode-vi R                    send-keys -X scroll-up
bind-key    -T copy-mode-vi N                    send-keys -X bottom-line

unbind C-b
bind-key C-a send-prefix

bind C-r source-file ~/.tmux.conf \; display "Reloaded ~/.tmux.conf"

# Change binds for splits
unbind %
bind | split-window -h -c "#{pane_current_path}"

unbind '"'
bind - split-window -v -c "#{pane_current_path}"

# Panes
bind -r t resize-pane -L 5
bind -r s resize-pane -D 5
bind -r r resize-pane -U 5
bind -r n resize-pane -R 5
bind -r m resize-pane -Z  # toggle pane maximized

bind-key -T copy-mode-vi 'C-t' select-pane -L
bind-key -T copy-mode-vi 'C-s' select-pane -D
bind-key -T copy-mode-vi 'C-r' select-pane -U
bind-key -T copy-mode-vi 'C-n' select-pane -R

# Windows
set -g base-index 1
set-window-option -g pane-base-index 1
unbind n
unbind p
bind -n M-s previous-window
bind -n M-r next-window

######### Plugins
set -g @plugin "tmux-plugins/tpm"

# list of plugins
set -g @plugin "christoomey/vim-tmux-navigator"
set -g @plugin 'jimeh/tmux-themepack'
set -g @themepack "powerline/double/blue"

# Smart pane switching with awareness of Vim splits.
# See: https://github.com/christoomey/vim-tmux-navigator
# is_vim="ps -o state= -o comm= -t '#{pane_tty}' | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|l?n?vim?x?)(diff)?$'"
# bind-key -n 'C-t' if-shell "$is_vim" 'send-keys C-t'  'select-pane -L'
# bind-key -n 'C-s' if-shell "$is_vim" 'send-keys C-s'  'select-pane -D'
# bind-key -n 'C-r' if-shell "$is_vim" 'send-keys C-r'  'select-pane -U'
# bind-key -n 'C-n' if-shell "$is_vim" 'send-keys C-n'  'select-pane -R'
# tmux_version='$(tmux -V | sed -En "s/^tmux ([0-9]+(.[0-9]+)?).*/\1/p")'
# if-shell -b '[ "$(echo "$tmux_version < 3.0" | bc)" = 1 ]' "bind-key -n 'C-\\' if-shell \"$is_vim\" 'send-keys C-\\'  'select-pane -l'"
# if-shell -b '[ "$(echo "$tmux_version >= 3.0" | bc)" = 1 ]' "bind-key -n 'C-\\' if-shell \"$is_vim\" 'send-keys C-\\\\'  'select-pane -l'"

# smart pane switching with awareness of vim splits
bind -n C-t run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys C-h) || tmux select-pane -L"
bind -n C-s run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys C-j) || tmux select-pane -D"
bind -n C-r run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys C-k) || tmux select-pane -U"
bind -n C-n run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys C-l) || tmux select-pane -R"
# bind -n C-\ run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys 'C-\\') || tmux select-pane -l"



# Initialize the plugins (MUST STAY AT THE BOTTOM)
run "~/.tmux/plugins/tpm/tpm"
