[credential]
    helper = store
[user]
    email = {{ .email }}
    name = Vincent Berthier
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[core]
    editor = nvim
    excludesfile = /home/ad/berthiv/.gitignore
[http]
        postBuffer = 524288000
[https]
        postBuffer = 524288000
[pull]
    rebase = true

