#!/bin/sh

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.config/zsh/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

HISTFILE=~/.histfile

# Useful options
setopt autocd chaselinks pushd_silent # change directories
setopt extendedglob nomatch # Expansion & globbing 
setopt interactive_comments
# stty stop undef  # Prevents ctrl-s from freezing the terminal
zle_highlight=('paste:none')

# Completion
autoload -Uz compinit
zstyle ':completion:*' menu select
zstyle ':completion:*:default' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion::complete:*' gain-privileges 1
# zstyle ':completion::complete:lsof:*' menu yes select
zmodload zsh/complist
_comp_options+=(globdots)  # include hidden files
compinit

autoload -U up-line-or-beginning-search down-line-or-beginning-search
zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search

# Colours
autoload -Uz colors && colors

# Load useful functions
source "$ZDOTDIR/functions.zsh"

# Enable zoxide
{{ if (eq .chezmoi.hostname "px-2131") }}eval "$(/home/vberthier/.local/bin/zoxide init zsh)"{{ else }}eval "$(zoxide init zsh)"{{ end }}
zsh_add_file "fzf.zsh"

# Normal files to source
zsh_add_file "exports.zsh"
zsh_add_file "vim-mode.zsh"
zsh_add_file "aliases.zsh"

# Plugins
zsh_add_plugin "zsh-users/zsh-autosuggestions"
zsh_add_plugin "zsh-users/zsh-syntax-highlighting"
zsh_add_plugin "hlissner/zsh-autopair"
zsh_add_plugin "zsh-users/zsh-history-substring-search"
zsh_add_plugin "MichaelAquilina/zsh-auto-notify"
zsh_add_completion "esc/conda-zsh-completion" false
# More plugins: https://github.com/unixorn/awesome-zsh-plugins
# More completions: https://github.com/zsh-users/zsh-completions

# Theme
zsh_add_plugin "romkatv/powerlevel10k"
zsh_add_file "plugins/powerlevel10k/powerlevel10k.zsh-theme"
zsh_add_file "prompt.zsh"

# General keybinds
bindkey '^[[H' beginning-of-line
bindkey '^[[F' end-of-line
bindkey '^[[3~' delete-char

# Vi mode & keybinds
bindkey -v
bindkey -M vicmd t vi-backward-char
bindkey -M vicmd n vi-forward-char
bindkey '^R' history-incremental-search-backward
bindkey '^S' history-incremental-search-forward
bindkey -M vicmd k vi-find-next-char-skip
bindkey -M vicmd K vi-find-prev-char-skip

# Auto-suggestions keybinds
bindkey '^ ' autosuggest-execute  # press ctrl+space to accept and execute the suggestion

# history-substring keybinds
bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down
bindkey -M vicmd s history-substring-search-down
bindkey -M vicmd r history-substring-search-up

# Set the terminal’s window title dynamically
autoload -Uz add-zsh-hook

function xterm_title_precmd () {
	print -Pn -- '\e]2;%n@%m: %~\a'
	[[ "$TERM" == 'screen'* ]] && print -Pn -- '\e_\005{g}%n\005{-}@\005{m}%m\005{-}: \005{B}%~\005{-}\e\\'
}

function xterm_title_preexec () {
	print -Pn -- '\e]2;%n@%m: %~ %# ' && print -n -- "${(q)1}\a"
	[[ "$TERM" == 'screen'* ]] && { print -Pn -- '\e_\005{g}%n\005{-}@\005{m}%m\005{-}: \005{B}%~\005{-} %# ' && print -n -- "${(q)1}\e\\"; }
}

if [[ "$TERM" == (Eterm*|alacritty*|aterm*|gnome*|konsole*|kterm*|putty*|rxvt*|screen*|tmux*|xterm*) ]]; then
	add-zsh-hook -Uz precmd xterm_title_precmd
	add-zsh-hook -Uz preexec xterm_title_preexec
fi

{{ if (eq .chezmoi.hostname "px-2131") }}
### CLS Specifics
case $DISPLAY:$XAUTHORITY in
  :*:?*)
    # DISPLAY is set and points to a local display, and XAUTHORITY is
    # set, so merge the contents of `$XAUTHORITY` into ~/.Xauthority.
    XAUTHORITY=~/.Xauthority xauth merge "$XAUTHORITY";;
esac

host=`hostname`

if [[ $host == "px-1005" ]]; then
    return
elif [[ $host == "px-2131" ]]; then
    ######## Conda initilization
    # >>> conda initialize >>>
    # !! Contents within this block are managed by 'conda init' !!
    __conda_setup="$('/homelocal/anaconda/conda/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
    if [ $? -eq 0 ]; then
     eval "$__conda_setup"
    else
     if [ -f "/homelocal/anaconda/conda/etc/profile.d/conda.sh" ]; then
         . "/homelocal/anaconda/conda/etc/profile.d/conda.sh"
     else
         export PATH="/homelocal/anaconda/conda/bin:$PATH"
     fi
    fi
    unset __conda_setup
    # <<< conda initialize <<<

    export CONDA=/homelocal/vberthier/.conda/envs/dev


  dev() {
    conda activate /homelocal/vberthier/.conda/envs/dev
  }

  proto() {
    conda activate /homelocal/vberthier/.conda/envs/proto
  }

  dev2() {
    conda activate /homelocal/vberthier/.conda/envs/dev2
  }

  export PYTHONPATH=$PYTHONPATH:/homelocal/vberthier/.conda/envs/dev/lib/python3.8/site-packages:/home/vberthier/Code/GECO_main/validation/utilities/WxPlot12-2.1/src:/home/vberthier/Code/geco/build/python:/home/vberthier/Code/extract_ba/build/python:/home/vberthier/Code/extract_ba/third_party/julian-0.1/:/home/vberthier/.local/bin
  alias valid_netcdf="/data/PDAP_JCS/validation_tools/src/valid_netcdf_product.py"

elif [[ $host == "px-2091" ]]; then

  alias valid_netcdf="/data/MPC_S3/LandBranches/Sentinel3_ContinuousIntegrationData/workshop/validation_tools/src/valid_netcdf_product.py"
  alias cmake="/data/MPC_S3/cmake-2.8.12-Linux-i386/bin/cmake"
  export COTS_ROOT=/data/MPC_S3/LandBranches/Sentinel3_ContinuousIntegrationData/COTS_V2
  export JPEG_PATH=${COTS_ROOT}/JPEG/V1.2.1/lib/
  export HDF5_PATH=${COTS_ROOT}/HDF5/V1.8.9/lib/
  export PROJ_PATH=${COTS_ROOT}/PROJ/V4.8.0/lib/
  export CPPEOCFI_PATH=\$COTS_ROOT/CPPEOCFI/V4.17/libraries/LINUX64_LEGACY/
  export NETCDF_PATH=${COTS_ROOT}/NETCDF/V4.2/lib/
  export XERCESC_PATH=${COTS_ROOT}/XERCESC/V2.8.0/lib/
  export JPEG_PATH=${COTS_ROOT}/JPEG/V1.2.1/lib/
  export OPENJPEG_PATH=${COTS_ROOT}/OpenJPEG/V2.0.0/lib/
  export PNG_PATH=${COTS_ROOT}/PNG/V1.5.11/lib/
  export GRIB_PATH=${COTS_ROOT}/GRIB/V1.9.18/
  export LD_LIBRARY_PATH=${HDF5_PATH}:${PROJ_PATH}:${CPPEOCFI_PATH}:${NETCDF_PATH}:${XERCESC_PATH}:${JPEG_PATH}:${OPENJPEG_PATH}:${PNG_PATH}:${LD_LIBRARY_PATH}:/data/MPC_S3/vberthier/s3_ipf_l1/bin/lib
  cd /data/MPC_S3
fi

{{ else if (eq .chezmoi.hostname "visu01.sis.cnes.fr") }}
# CNES specifics
workon_home_dir=~/scratch/.virtualenvs
export WORKON_HOME=$HOME/.virtualenvs
alias node='qsub -IX -l select=1:ncpus=8:mem=32000mb -l walltime=10:00:00'
alias node_big='qsub -IX -l select=1:ncpus=16:mem=64000mb -l walltime=10:00:00'
alias proxy="source ~/.proxy.sh"

conf_geco() {
  echo "Configuring Geco"
  cmake -DCMAKE_CXX_COMPILER=$(which g++) \
        -DCMAKE_C_COMPILER=$(which gcc) \
        -DPYTHON_EXECUTABLE=$(which python) \
        -DEIGEN3_INCLUDE_DIR=$EIGENHOME/include/eigen3 \
        -DNETCDF_INCLUDE_DIR=$NETCDFHOME/include \
        -DBOOST_ROOT=$BOOSTHOME \
        -DGSL_ROOT_DIR=$GSLHOME \
        -DECCODES_ROOT_DIR=${ECCODESHOME} \
        -DBUILD_PYTHON=ON \
        -Dpybind11_DIR=${PY_PYBIND11HOME} \
        -DBUILD_SHARED_LIBS=ON \
        -DBUILD_UNITTEST=ON \
        -DBUILD_DOC=OFF \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_INSTALL_PREFIX=/home/ad/berthiv/.local \
        ..
}

ncdump() {
  /bin/ncdump "$@" | less
}

conf_gecomain() {
  echo "Configuring Geco Main"
  cmake -DCMAKE_CXX_COMPILER=$(which g++) \
        -DCMAKE_C_COMPILER=$(which gcc) \
        -DPYTHON_EXECUTABLE=$(which python) \
        -DCMAKE_BUILD_TYPE=Release \
        -DEIGEN3_INCLUDE_DIR=$EIGENHOME/include/eigen3 \
        -DNETCDF_INCLUDE_DIR=$NETCDFHOME/include \
        -DBOOST_ROOT=$BOOSTHOME \
        -DGSL_ROOT_DIR=$GSLHOME \
        -DYAML_CPP_BUILD_TESTS=off \
        -DECCODES_ROOT_DIR=${ECCODESHOME} \
        -DBUILD_PYTHON=ON \
        -DBUILD_SHARED_LIBS=ON \
        -DBUILD_UNITTEST=ON \
        -DBUILD_DOC=ON \
        ..
}

conf_bang() {
  echo "Configuring BA-NG"
  cmake -DCMAKE_BUILD_TYPE=Debug \
        -DnetCDFCxx_DIR=/home/ad/berthiv/scratch/.conda/envs/bang/lib/cmake/netCDF/ \
        -DNETCDF_PATH=${NETCDFHOME} \
        ..
}

load_geco() {
  proxy
  module load git-lfs
  module load boost/1.65.1
  module load cmake/3.11.3
  module load doxygen/1.8.13
  module load ecCodes/2.7.3
  module load eigen/3.3.2
  module load gcc/7.3.0
  module load llvm/10.0.0
  module load gsl/2.3
  module load netcdf/4.4.1
  module load python/3.7.2
  module load pybind11/2.9.0
  module load googletest/1.11.0_gcc-7.3.0
  module load lcov/1.12
}

load_bangpy() {
  proxy
  module purge
  module load boost/1.73.0
  module load cmake/3.11.3
  module load python/3.8.4
  module swap gcc/10.1.0 gcc/10.2.0
  module load eigen/3.3.2
  module load llvm/10.0.0
  module load netcdf/4.7.4
  module load git/2.34.1
  module load git-lfs/3.0.2
  module load ecCodes/2.23.0
  export VIRTUALENVWRAPPER_PYTHON=/softs/rh7/spack_install/linux-centos7-x86_64/gcc-10.2.0/python-3.8.4-quigmdjvagbs5t4qqlb7yhmgugpa4q5s/bin/python3
  source /softs/rh7/spack_install/linux-centos7-x86_64/gcc-10.2.0/python-3.8.4-quigmdjvagbs5t4qqlb7yhmgugpa4q5s/bin/virtualenvwrapper.sh
  workon bang
}


load_bang() {
  proxy
  module purge
  module load boost/1.73.0
  module swap gcc/10.1.0 gcc/10.2.0
  module load gdb/.11.2__gcc-10.2.0_eukrg4i
  module load eigen/3.3.2
  module load llvm/10.0.0
  module load netcdf/4.7.4
  module load git/2.34.1
  module load git-lfs/3.0.2
  module load ecCodes/2.23.0
  module load latex/2019
  module unload python
  module load conda/4.9.0
  conda activate bang
  cd scratch/bang/sources
}

load_sas() {
  module load cmake/3.11.3 
  module load boost/1.65.1 
  module load gcc/7.3.0 
  module load python/3.6.5 
  module load latex/2019 
}

# Disable core dumps
ulimit -c 0

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/softs/rh7/conda/4.9.0/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/softs/rh7/conda/4.9.0/etc/profile.d/conda.sh" ]; then
        . "/softs/rh7/conda/4.9.0/etc/profile.d/conda.sh"
    else
        export PATH="/softs/rh7/conda/4.9.0/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

{{ end }}

