Host *
	ForwardAgent yes

{{ if (eq .chezmoi.hostname "px-2131") }}Host desktop{{ else }}Host cls{{ end }}
	Hostname desktop.px.cls.fr
	IdentityFile ~/.ssh/cls
	User vberthier
	ForwardX11Trusted=yes

{{ if (eq .chezmoi.hostname "px-2131") }}Host desktop1{{ else }}Host cls2{{ end }}
	Hostname desktop1.px.cls.fr
	IdentityFile ~/.ssh/cls
	User vberthier
	ForwardX11Trusted=yes

Host alten
	Hostname px-2131.px.cls.fr
	IdentityFile ~/.ssh/cls
	User vberthier
	ForwardX11Trusted=yes
	{{ if (ne .chezmoi.hostname "px-2131") }}ProxyJump cls{{ end }}

Host pdap
	Hostname jasondev-02.cls.fr
	User devuser3
	Compression=yes
	ForwardX11Trusted=yes
	{{ if (ne .chezmoi.hostname "px-2131") }}ProxyJump cls{{ end }}

Host pdap-test
	Hostname s6-valpgfs02.cls.fr
	User=arnaud.jouzeau
	Compression=yes
	ForwardX11Trusted=yes
	{{ if (ne .chezmoi.hostname "px-2131") }}ProxyJump cls{{ end }}

Host login-cnes
	Hostname 10.120.43.160
	IdentityFile ~/.ssh/cls
	User berthiv
	Compression=yes
	ForwardX11Trusted=yes
	{{ if (ne .chezmoi.hostname "px-2131") }}ProxyJump cls{{ end }}

Host cnes-geco
	Hostname visu06
	IdentityFile ~/.ssh/cls
	User berthiv
	Compression=yes
	ForwardX11Trusted=yes
	{{ if (eq .chezmoi.hostname "px-2131") }}ProxyCommand ssh login-cnes -W %h:%p{{ else }}ProxyJump login-cnes{{ end }}

Host cnes-bang
	Hostname visu05
	IdentityFile ~/.ssh/cls
	User berthiv
	Compression=yes
	ForwardX11Trusted=yes
	{{ if (eq .chezmoi.hostname "px-2131") }}ProxyCommand ssh login-cnes -W %h:%p{{ else }}ProxyJump login-cnes{{ end }}

Host cnes
	Hostname visu01
	IdentityFile ~/.ssh/cls
	User berthiv
	Compression=yes
	ForwardX11Trusted=yes
	{{ if (eq .chezmoi.hostname "px-2131") }}ProxyCommand ssh login-cnes -W %h:%p{{ else }}ProxyJump login-cnes{{ end }}

