@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font, monospace;
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @text;
}

tooltip {
    background: @base;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @crust;
}

#workspaces button {
    padding: 5px;
    color: @surface0;
    margin-right: 5px;
}

#workspaces button.active {
    color: @subtext0;
}

#workspaces button.focused {
    color: @subtext0;
    background: @mantle;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @crust;
    background: @green;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @crust;
    color: @text;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#cpu,
#memory,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: @base;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid @mantle;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: @base;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: @sky;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: @red;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: @pink;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @peach;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: @yellow;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: @blue;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @mauve;
    margin-right: 5px;
    border-radius: 0 10px 10px 0;
}

#battery {
    color: @green;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}

#cpu.critical {
    color: @text;
}

#cpu.warning {
    color: @peach;
}

#cpu.normal {
    color: @red;
}

#memory {
    color: @red;
}

#memory.warning {
    color: @peach;
}

#memory.normal {
    color: @text;
}
