{{- $waybar := index .waybar .chezmoi.hostname -}}
@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: Dank Mono;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    color: @text;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
}

tooltip {
    color: @text;
    background: @base;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @crust;
}

#custom-logout,
#custom-language,
#custom-updates,
#custom-caffeine,
#cpu,
#memory,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight,
#custom-backup,
#custom-qobuz,
#custom-vpn {
    background: @base;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid @mantle;
}

#memory {
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
}

{{- if hasKey $waybar "battery" }}
#custom-backup {
    padding: 0px 5px;
}
{{- else }}
#custom-backup {
    border-radius: 10px 0px 0px 10px;
    padding: 0px 5px;
}
{{- end }}

#custom-qobuz {
    border-radius: 10px 0px 0px 10px;
}

#workspaces {
    background: @base;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#workspaces button {
    padding: 5px;
    color: @surface0;
    margin-right: 5px;
}

#workspaces button {
    color: @text;
}

#workspaces button.active {
    color: @peach;
}

#workspaces button.focused {
    color: @subtext0;
    background: @mantle;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @crust;
    background: @green;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @crust;
    color: @text;
    border-radius: 10px;
}

#custom-caffeine {
    color: @sky;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: @red;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @text;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: @yellow;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: @blue;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @mauve;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
}

#custom-logout {
    margin-right: 10px;
    border-radius: 0 10px 10px 0;
}

#battery {
    color: @green;
    border-radius: 10px 0 0 10px;
    margin-right: 0px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}

#cpu {
  border-radius: 10px 0px 0px 10px;
}

#cpu.critical {
    color: @red;
}

#cpu.warning {
    color: @peach;
}

#memory.warning {
    color: @peach;
}

#memory.critical {
    color: @red;
}

#span.error {
    color: @red;
}

#span.warning {
    color: @peach;
}

#span.ok {
    color: @green;
}
